
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

// 基本設定
*,*::before,*::after {
    box-sizing: border-box;
    /* 將套件主色改為黃色 */
    --swiper-theme-color: #ffd153;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

sub {
    vertical-align: sub;
    font-size: 12px;
}

$primary-color: #56C4C5;
$primary-light-color:#B8E6E7;
$secondary-coloer : #221E1F;
$box-shadow: 0px 2px 10px #00000014;

// * {
//     outline: 1px solid black;
// }

.text-primary {
    color: $primary-color;
}

.sub-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    @media(max-width: 768px) {
        font-size: 28px;
    }
}

.primary-btn {
    display: block;
    font-size: 18px;
    padding: 12px 32px;
    background: $primary-color;
    border-radius: 27px;
    color: #FFFFFF;
    &:hover {
        background: $primary-light-color;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media(max-width: 768px) {
        padding: 0 20px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 30px;

    img {
        max-width: 218px;
    }

    .planBtn {
        display: block;
        padding: 8px 32px;
        background: #FF5D50;
        border-radius: 22px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            opacity: 0.5;
        }
    }

    @media(max-width: 768px) {
        padding: 16px 0;
        border-bottom: 2px solid #FFD153;
        img {
            max-width: 130px;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
        flex-direction: column;
    }
    
    &-text {
        width: 100%;
        .info {
            font-size: 18px;
            font-weight: bold;

            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
        .banner-title {
            font-size: 48px;
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 16px;

            @media(max-width: 768px) {
                font-size: 32px;
            }
        }
        .sub-info {
            font-size: 20px;
            color: $secondary-coloer;
            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    img {
        max-width: 532px;

        @media(max-width: 768px) {
            margin-top: 32px;
            background-image: url('../images/bg_home_sm.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
    }
}

// 表尾
.footer {
    background-image: url('../images/home_footer.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 503px;

    // 結語
    .epilogue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &-title {
            padding-top: 260px;
            padding-bottom: 48px;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            @media(max-width: 768px) {
                font-size: 24px;
            }
        }
    }
}

// 著作權
.copyright {
    background: #F5F5F5;
    padding: 16px 0;
    text-align: center;
}

// TOP
.topBtn {
    width: 70px;
    height: 70px;
    background: $primary-color;
    color: #FFFFFF;
    border-radius: 100%;
    font-weight: bold;
    border: 1px solid $primary-color;
    position: fixed;
    right: 48px;
    bottom: 24px;
    &:hover {
        background: $primary-light-color;
        border: 1px solid $primary-light-color;
    }
}

@mixin block-mb() {
    margin-bottom: 100px;
    @media(max-width: 768px) {
        margin-bottom: 60px;
    }
}