// 主頁
.ball-1 {
    background-image: url('../images/ball01.svg');
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    position: absolute;
    top: calc(100vh - 180px);
    left: -200px;
    z-index: -1;
    @media(max-width: 768px) {
        background: none;
    }
}

.home-bg {
    background-image: url('../images/bg_home.svg');
    background-repeat: no-repeat;
    width: 850px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media(max-width: 768px) {
        background: none;
    }
}

// 內容
.content {
    margin-top: 100px;
    position: relative;
    @media(max-width: 768px) {
        margin-top: 60px;
    }

    // 平台
    .platform {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 48px;
        @include block-mb;

        @media(max-width: 768px) {
            margin-top: 32px;
            gap: 24px;
        }

        li {
            width: calc(100%/ 3);
            text-align: center;
            @media(max-width: 768px) {
                width: 100%;
            }
        }
        img {
            max-width: 90px;
            padding-bottom: 24px;
            @media(max-width: 768px) {
                max-width: 60px;
                padding-bottom: 16px;
            }
        }
        h3 {
            padding-bottom: 24px;
            font-weight: bold;
            font-size: 24px;
            @media(max-width: 768px) {
                font-size: 18px;
                padding-bottom: 16px;
            }
        }
        p {
            color: #747474;
        }
    }

    .sub-text {
        color: $secondary-coloer;
        font-size: 20px;
        padding-top: 16px;
        padding-bottom: 48px;
        text-align: center;
        @media(max-width: 768px) {
            font-size: 18px;
            padding-bottom: 32px;
        }
    }

    // 角色
    .role {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 16px;
        @include block-mb;

        @media(max-width: 768px) {
            gap: 24px;
        }

        li {
            width: calc((100% - 48px) / 4);
            box-shadow: $box-shadow;
            border-radius: 12px;
            background: #FFFFFF;
            @media(max-width: 768px) {
                width: calc(100% - 24px);
            }

            img {
                border-radius: 12px 12px 0px 0px;
            }
            h4 {
                padding: 16px 0;
                font-weight: bold;
            }
            p {
                padding-bottom: 24px;
            }
        }
    }

    .ball-2 {
        background-image: url('../images/ball02.svg');
        background-repeat: no-repeat;
        width: 210px;
        height: 360px;
        position: absolute;
        right: 0;
        bottom: -180px;
        z-index: -1;
    }

    .ball-sm {
        @media(max-width: 768px) {
            background-image: url('../images/ball01.svg');
            background-repeat: no-repeat;
            background-size: 60%;
            width: 360px;
            height: 360px;
            position: absolute;
            top: 40px;
            left: -120px;
            z-index: -1;
        }
    }
}

// 次要內容
.sub-content {
    // 特色
    .feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include block-mb;

        @media(max-width: 768px) {
            flex-direction: column-reverse;
        }
        
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 47px;

            @media(max-width: 768px) {
                flex-direction: column;
                gap: 24px;
            }
            
            li {
                width: 230px;
                box-shadow: $box-shadow;
                padding-top: 32px;
                padding-left: 32px;
                
                .circle {
                    width: 86px;
                    height: 86px;
                    box-shadow: $box-shadow;
                    border-radius: 100%;
                    position: relative;
                    img {
                        width: 52px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
                h4 {
                    font-weight: bold;
                    padding-top: 24px;
                    padding-bottom: 16px;
                    font-size: 18px;
                    @media(max-width: 768px) {
                        padding-bottom: 20px;
                    }
                }

                p {
                    color: $secondary-coloer;
                    width: 166px;
                    padding-bottom: 48px;
                }
            }
        }

        &-text {
            width: 532px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width: 768px) {
                align-items: center;
                padding-bottom: 32px;
            }

            h3 {
                text-align: left;
                font-size: 32px;
                font-weight: bold;
                padding-bottom: 16px;
                @media(max-width: 768px) {
                    font-size: 28px;
                    text-align: center;
                }
            }

            h4 {
                color: $secondary-coloer;
                padding-bottom: 24px;
                @media(max-width: 768px) {
                    font-size: 16px;
                    text-align: center;
                    padding-bottom: 16px;
                }
            }
        }
    }
}

// 最後內容
.last-content {
    @include block-mb;
    position: relative;

    .comment {
        padding-top: 104px;
        padding-bottom: 24px;
        margin-bottom: 24px;

        &-item {
            box-shadow: $box-shadow;
            border-radius: 12px;
            padding: 48px 32px 24px 32px;
            position: relative;
            background: #FFFFFF;

            .user-img {
                width: 80px;
                border-radius: 100%;
                position: absolute;
                top: -50px;
            }
            p {
                color: $secondary-coloer;
                border-bottom: 1px solid #DDDDDD;
                padding-bottom: 24px;
            }
            h3 {
                padding-top: 24px;
                padding-bottom: 8px;
                font-weight: bold;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            h4 {
                color: $secondary-coloer;
            }
            .score {
                display: flex;
                li{
                    padding-right: 8px;
                }
            }
        }
    }

    /* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
    .swiper-pagination-bullet-active {
        width: 16px;
        height: 10px;
        background: #FFD153 0% 0% no-repeat padding-box;
        border-radius: 50px;
    }

    .ball-3 {
        background-image: url('../images/ball03.svg');
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: -1;
    }

}

